<template id="night-template">
    <div id="day-screen" class="screen-container">
        <div class="progress-bar-container">
            <div id="progress-bar" class="progress-bar"></div>
        </div>

        <h2 id="game-result" class="screen-title" style="color: white"></h2>

        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
            <div id="players-list" class="players-list">
                <!-- Список игроков будет динамически обновляться -->
            </div>
        </div>
    </div>
</template>