<template id="role-template">
    <div id="role-screen" class="screen-container role-layout">
        <div id="role-info" class="role-info">
            <h1 class="player-role">Ваша роль: <span id="player-role-text">Мирный житель</span></h1>
            <p id="role-description" class="role-description">
                Ваша задача — вычислить мафию и выжить до конца игры.
            </p>
        </div>

        <div id="mafia-members-section" class="mafia-members hidden">
            <h3>Другие мафии:</h3>
            <ul id="mafia-members-list" class="mafia-list">
                <!-- Динамический список -->
            </ul>
        </div>
    </div>
</template>